@model IEnumerable<MvcDBO.Models.Processador>

@{
    ViewBag.Title = "List";
}

<h2>Lista</h2>
<h4>Processador</h4>
<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtNucleos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtThreads)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrequenciaBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrequenciaMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Litografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soquete)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QtNucleos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QtThreads)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FrequenciaBase)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FrequenciaMax)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Litografia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Soquete)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
