<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computadores</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestão de Computadores", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Processador", "List", "Processador")</li>
                    <li>@Html.ActionLink("Placa Mãe", "List", "PlacaMae")</li>
                    <li>@Html.ActionLink("Memoria Ram", "List", "MemoriaRam")</li>
                    <li>@Html.ActionLink("Armazenamento", "List", "Armazenamento")</li>
                    <li>@Html.ActionLink("Placa de Vídeo", "List", "PlacaDeVideo")</li>
                    <li>@Html.ActionLink("Fonte", "List", "Fonte")</li>
                    <li>@Html.ActionLink("Gabinete", "List", "Gabinete")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
