@model MvcDBO.Models.Armazenamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Armazenamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoArmazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoArmazenamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoBarramento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoBarramento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TamanhoArmazenamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TamanhoArmazenamento)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "List")
</p>
